@import "base.scss";

.prose article {
  @include headings {
    @apply hover:text-blue-700 dark:hover:text-blue-400;
    & > a:hover,
    & > a:active {
      text-decoration: underline;
      text-decoration-skip-ink: all;
      &::before {
        content: "#";
        position: absolute;
        opacity: 0.5;
        left: -2rem;
        font-style: italic;
      }
    }
  }

  a:hover {
    @apply hover:text-blue-700 dark:hover:text-blue-400;
  }
}
